<html>
    <head>
        <title>Log In</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <div class="account">
                <label for="member_id">ID</label>
                <input type="text" name="member_id" class="form-control" id="member_id">
                <br>
                <label for="password">PW</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-default">submit</button>
        </form>
    </body>