/* bill 틀 */
*{
    margin: 0px;
    padding:0px;
}

.sub_title_b{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 30px;
    display:  flex;
    flex-flow:row; 
    flex-wrap:nowrap; 
    justify-content: left;
    align-items: baseline;
}

body{
    /* background-color: black; */
}
.s_i_s{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0px 20px;
}

.bold_sec{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: darkgray;
    display: flex;
    flex-flow: column;
    padding-top: 30px;
    padding-bottom: 40px;
    /* height: 650px; */
    /* min-width: 800px; */
    /* background-color: blue; */
}



body{
    min-width: 1500px;
}

.b_input{
    /* border: 2px solid; */
    /* border-color:blue;   */
    font-size: 17px;
    padding: 10px 3px 10px 13px;
    width: 180px;
    height: 40px;
    /* margin: 0px 20px; */
}

.p_i_input{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: start;
    /* margin-top: 20px; */
    padding: 10px 20px;
}

.bill_search{
    /* border: 2px solid; */
    /* border-color: brown;   */
    padding: 40px;
}

.b_output{
    border: 2px solid;
    padding: 5px;
    border-color: darkgray;
    margin: 0px 40px;
}

.park_insert{
    padding: 40px;
    /* border: 2px solid; */
    /* border-color: brown; */
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    margin-top: 20px;
}

.p_i_i{
    width: 150px;
    padding-left: 10px;
}
.p_i_add{
    margin: 5px;
}

.b_s_t{
    font-size: 20px;
    /* font-weight: 300; */
    /* margin: 20px; */
}

.b_t_o{
    padding: 2px 20px;
    border: 2px solid;
    border-color: darkgray;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.b_s{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.b_button{
    padding: 0px 20px;
    background-color: rgb(95, 95, 95);
    border: 0px;
    color: white;
    border-radius: 5px;
    font-size: 17px;
}

.b_p{
    padding: 5px 0px;
    background-color: rgb(95, 95, 95);
    border: 0px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
}