.tle{
    /* position:relative; */
    /* border: 2px dotted; */
    /* border-color: red; */
    /* display: flex; */
    /* align-items: center; */
}


.test1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.tt{
    border: 2px dotted;
    border-color: aqua;
}

.login{
    width: 370px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    /* border: 2px solid; */
    /* border-color: darkgray; */
    background-color: rgba(169, 169, 169, 0.466);
}

.id_in{
    position: absolute;
    left: 35px;
    top: 35px;
    font-size: 15px;
    width: 180px;
    /* border: 2px solid;
    border-color: darkgray; */
    padding-left: 6px;
    background-color: white;
}

.pass_in{
    position: absolute;
    left: 35px;
    top: 80px;
    font-size: 15px;
    width: 180px;
    /* border: 2px solid;
    border-color: darkgray; */
    padding-left: 6px;
    background-color: white;
}

.login_button{
    position: absolute;
    left: 245px;
    top: 50px;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.join_in{
    position: absolute;
    left: 35px;
    top: 140px;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 5px;
    border-radius: 5px;
}

.s_id{
    position: absolute;
    left: 117px;
    top: 140px;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 5px;
    border-radius: 5px;
}


.d_id{
    /* padding: 50px; */
    position: relative;
    width: 370px;
    height: 150px;
    /* position: absolute; */
    

}

.d_pass{
    width: 600px;
    /* height: 300px; */
    /* position: absolute; */
}

.t_ser{
    /* position: absolute; */
    left: 50%-2;
    top: 50%;
    padding: 20px 40px;
    width: max-content;
    border: 2px solid;
    border-color: darkgray;
    background-color: white;
    border-radius: 10px;
}

.ppp{
    border-color: darkgray;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}

.e_in{
    position: absolute;
    left: 35px;
    top: 125px;
    font-size: 15px;
    width: 180px;
    /* border: 2px solid;
    border-color: darkgray; */
    padding-left: 6px;
    background-color: white;
}

.s_t{
    /* padding: 50px; */
    position: relative;
    width: 370px;
    height: 190px;
    /* position: absolute; */
}

.send{
    position: absolute;
    left: 245px;
    top: 70px;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    background-color:darkgrey;
    border-radius: 10px;
    color: white;
}

.l_find{
    /* background-color: aqua; */
    display: flex;
    flex-flow: row;
    /* align-items: center; */
    justify-content: center;
}


body{
    /* background-color: aqua; */
}