.test1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.tt{
    border: 2px dotted;
    border-color: aqua;
}

.login{
    width: 390px;
    height: 220px;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    /* border: 2px solid; */
    /* border-color: darkgray; */
    background-color: rgba(169, 169, 169, 0.466);
}

.id_in{
    position: absolute;
    left: 45px;
    top: 40px;
    font-size: 20px;
    width: 180px;
    /* border: 2px solid;
    border-color: darkgray; */
    padding-left: 6px;
    background-color: white;
}

.pass_in{
    position: absolute;
    left: 45px;
    top: 90px;
    font-size: 20px;
    width: 180px;
    /* border: 2px solid;
    border-color: darkgray; */
    padding-left: 6px;
    background-color: white;
}

.login_button{
    position: absolute;
    left: 255px;
    top: 55px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.join_in{
    position: absolute;
    left: 45px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 5px;
}

.s_id{
    position: absolute;
    left: 127px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 5px;
}